# Dependencies
node_modules/
testsprite_tests/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Build output
dist/
dist-ssr/
build/

# OS files
.DS_Store
Thumbs.db

# Gemini Extension
.gemini/

screts.sparsebundle/